apt-utils
bash-completion
build-essential
curl
debian-archive-keyring
debian-keyring
gdb
git
gnupg2
gpg-agent
locales
lsb-release
mercurial
openssh-server
python3
python3-pip
python3-setuptools
software-properties-common
sudo
tmux
ros-humble-desktop
python3-rosdep
python3-colcon-common-extensions
